<doctype html>
    <html>
        <head>
            <title>Hello</title>
            </head>
            <body>
                <p>Hello, <%=name%> <%lastname%>!</p>
            </body>
        </html>
        